body {
    background: #f8f8f8;
    font-family: sans-serif;
    line-height: 0;
    color: #4a4a4a;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.map,
.canvas {
    height: 800px;
    width: 1280px;
}

.ui {
    padding: 100px 10px;
    line-height: 1.5;
}
